# ========================================
# Digital Lease Backend Configuration
# ========================================

# Server
PORT=4000

# Blockchain / RPC (Sepolia Testnet)
RPC_URL=hhttp://127.0.0.1:8545
CONTRACT_ADDRESS=0x10c477ac03d9Cd68200dc1eB08a412afB77561cB

# MQTT Broker (untuk IoT Smart Lock)
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_TOPIC_PREFIX=digital-lease/door

# Opsional: Private key untuk transaksi otomatis (JANGAN expose di production!)
# PRIVATE_KEY=0x...
PRIVATE_KEY=c75455f948ace7ade3d9e8f9991ee017c27fc67033fcbe539689798d543fe0ac